<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<form action='/' method="POST" id="form">
			<input type="text" name="speciman">
			<input type="submit">
		</form>
		<button id="get">GET</button>
		<button id="post">POST</button>
		<button id="put">PUT</button>
		<button id="delete">DELETE</button>
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>
		<script src="/ajax.js"></script>
	</body>
</html>